@charset "UTF-8";
:root {
  --font-size: 24px;
}

@media (min-width: 2000px) {
  :root {
    --font-size: 28px;
  }
}
@media (max-width: 1140px) {
  :root {
    --font-size: 20px;
  }
}
@media (max-width: 520px) {
  :root {
    --font-size: 16px;
  }
}
html {
  scroll-behavior: smooth;
}
html {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1920px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.5;
  color: #2e363e;
  background-color: #f2f6fa;
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

.button-effect {
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button-effect:hover:not(:disabled),
.button-effect:focus-visible:not(:disabled) {
  filter: contrast(130%);
}

.button-effect:active:not(:disabled) {
  transform: scale(0.9);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
  outline: none;
}

a:hover,
a:focus-visible {
  color: #fed84c;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
  counter-reset: li;
  padding: 0;
}

ol li::before {
  counter-increment: li;
  content: counters(li, ".") ". ";
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

input,
textarea {
  outline: none;
}

fieldset {
  padding: 0;
  border: 0;
}

iframe {
  border: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 520px) {
  .container {
    padding: 0 14px;
  }
}

.supertitle {
  width: -moz-max-content;
  width: max-content;
  background-color: #f2f6fa;
  border-radius: 5px;
  padding: 10px 18px;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #2e363e;
}

/* Модальное окно */
.modal-overlay {
  position: fixed;
  overflow-y: auto;
  padding: 20px 10px;
  z-index: 100;
  inset: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.modal-overlay .modal {
  position: relative;
}
.modal-overlay__close-button {
  position: absolute;
  color: #2e363e;
  top: 17px;
  right: 21px;
  font-size: 40px;
}
@media (max-width: 520px) {
  .modal-overlay__close-button {
    right: 7px;
  }
}

.modal {
  padding: 64px;
  border-radius: 8px;
  background-color: #ffffff;
}
@media (max-width: 1140px) {
  .modal {
    padding: 40px;
  }
}
@media (max-width: 940px) {
  .modal {
    padding: 15px 20px;
  }
}

.container--modal {
  padding: 0;
  align-self: flex-start;
  margin: auto;
}

.modal__title {
  padding-right: 45px;
}

.modal__item-subtitle:not(:last-child) {
  margin-bottom: 40px;
}

.modal__subtitle {
  display: inline-block;
  margin-bottom: 15px;
}

.modal__item-subtitle::before {
  font-weight: bold;
}

.modal__list {
  padding-left: 20px;
}

.modal__item:not(:last-child) {
  margin-bottom: 15px;
}

.header {
  position: absolute;
  width: 100%;
}
.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 34px 0 31px 0;
}
@media (max-width: 940px) {
  .header__menu {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
.header__logo {
  margin-right: auto;
}
@media (max-width: 940px) {
  .header__logo {
    margin-right: 0;
  }
}
.header__address {
  max-width: 151px;
  color: #ffffff;
  font-size: 12px;
  position: relative;
  margin-right: 91px;
  text-align: center;
}
@media (max-width: 940px) {
  .header__address {
    margin-right: 0;
  }
}
.header__address::before {
  content: "";
  position: absolute;
  height: 23px;
  width: 17px;
  top: 2px;
  left: -30px;
  background-image: url(../img/icons/address.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.header__phone {
  position: relative;
  text-align: center;
}
.header__phone::before {
  content: "";
  position: absolute;
  height: 19px;
  width: 19px;
  top: 10px;
  left: -33px;
  background-image: url(../img/icons/phone.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.header__phone-number {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.52;
  letter-spacing: 0.02em;
}
.header__phone-text {
  color: #ffffff;
  font-size: 13px;
}

.hero {
  background-color: #081130;
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 307px 0 465px;
}
@media (max-width: 940px) {
  .hero {
    padding: 300px 0 375px;
  }
}
.hero__content {
  max-width: 650px;
}
.hero__supertitle {
  margin-bottom: 24px;
}
.hero__title {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #ffffff;
}
@media (max-width: 1140px) {
  .hero__title {
    font-size: 42px;
  }
}
@media (max-width: 520px) {
  .hero__title {
    font-size: 28px;
  }
}
.hero__text {
  max-width: 560px;
  margin-bottom: 42px;
  line-height: 1.43;
  color: #fff;
}
@media (max-width: 1140px) {
  .hero__text {
    max-width: 460px;
  }
}
.hero__action {
  display: flex;
  align-items: center;
}
@media (max-width: 520px) {
  .hero__action {
    flex-direction: column;
    align-items: start;
  }
}
.hero__action-button {
  border-radius: 8px;
  padding: 30px 51px;
  margin-right: 20px;
  background-color: #fed84c;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.52;
  text-align: center;
}
@media (max-width: 520px) {
  .hero__action-button {
    margin-bottom: 12px;
    margin-right: 0;
    padding: 20px 30px;
    font-size: 16px;
    width: 100%;
  }
}
.hero__action-text {
  max-width: 150px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #fff;
}
@media (max-width: 520px) {
  .hero__action-text {
    max-width: 250px;
  }
}

.catalog {
  background-color: #ffffff;
}
.catalog__title {
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2e363e;
}
@media (max-width: 1140px) {
  .catalog__title {
    font-size: 42px;
    margin-bottom: 55px;
  }
}
@media (max-width: 520px) {
  .catalog__title {
    font-size: 28px;
  }
}
.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  justify-content: center;
  gap: 20px;
}
@media (max-width: 520px) {
  .catalog__list {
    grid-template-columns: minmax(320px, 380px);
  }
}
.catalog__produst {
  height: 100%;
}

.product__description {
  padding: 50px 44px;
}
@media (max-width: 520px) {
  .product__description {
    padding: 30px 14px 44px;
    text-align: center;
  }
}
.product__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  color: #2e363e;
}
.product__text {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e363e;
}
.product__price {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #434b53;
}
.product__btn {
  border-radius: 8px;
  padding: 20px 40px;
  background-color: #fed84c;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.52;
  color: #2e363e;
}
@media (max-width: 520px) {
  .product__btn {
    padding: 20px 30px;
    font-size: 16px;
    width: 100%;
  }
}

.order {
  position: relative;
  background-color: #081130;
  background-image: url("../img/bg-order_top.png"), url("../img/bg-order_bottom.png"), url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: top, bottom, bottom left 6px;
  background-size: contain, contain, 51% auto;
}
@media (max-width: 940px) {
  .order {
    background-position: top, bottom, bottom right;
  }
}
@media (max-width: 520px) {
  .order {
    background-position: top, bottom, bottom center;
  }
}
.order__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: ". supertitle" ". title" ". text" ". btn";
  gap: 0 220px;
  padding: 412px 0px 453px;
}
@media (max-width: 1140px) {
  .order__content {
    grid-template-areas: "supertitle supertitle" "title title" ". text" ". btn";
    padding: 200px 0 337px;
  }
}
@media (max-width: 940px) {
  .order__content {
    grid-template-areas: "supertitle supertitle" "title title" "text text" "btn btn";
    padding: 200px 0 300px;
  }
}
.order__supertitle {
  grid-area: supertitle;
  margin-bottom: 22px;
}
.order__title {
  grid-area: title;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #ffffff;
}
@media (max-width: 1140px) {
  .order__title {
    font-size: 42px;
  }
}
@media (max-width: 520px) {
  .order__title {
    font-size: 28px;
  }
}
.order__text {
  grid-area: text;
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.order__btn {
  grid-area: btn;
  border-radius: 8px;
  padding: 30px 50px;
  width: -moz-max-content;
  width: max-content;
  background-color: #fed84c;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.52;
  text-align: center;
  color: #2e363e;
}
@media (max-width: 520px) {
  .order__btn {
    justify-self: center;
    padding: 20px 30px;
    font-size: 16px;
    width: 100%;
  }
}

.confectioner {
  background-color: #ffffff;
}
.confectioner__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 20px;
  padding: 20px 52px 0 40px;
  max-width: 1272px;
  margin: 0 auto;
}
@media (max-width: 940px) {
  .confectioner__container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 520px) {
  .confectioner__container {
    padding: 0 14px;
  }
}
.confectioner__content {
  max-width: 580px;
  padding-top: 83px;
}
.confectioner__supertitle {
  margin-bottom: 24px;
}
.confectioner__title {
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #2e363e;
}
@media (max-width: 1140px) {
  .confectioner__title {
    margin-bottom: 25px;
    font-size: 32px;
  }
}
@media (max-width: 520px) {
  .confectioner__title {
    font-size: 28px;
  }
}
.confectioner__list {
  margin-bottom: 50px;
  max-width: 475px;
}
@media (max-width: 1140px) {
  .confectioner__list {
    margin-bottom: 30px;
  }
}
@media (max-width: 940px) {
  .confectioner__list {
    max-width: 100%;
  }
}
.confectioner__item {
  padding-left: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #2e363e;
  background-image: url("../img/icons/list.svg");
  background-repeat: no-repeat;
  background-position: top 2px left;
}
.confectioner__item:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1140px) {
  .confectioner__item:not(:last-child) {
    margin-bottom: 17px;
  }
}
.confectioner__btn {
  border-radius: 8px;
  padding: 30px 50px;
  background-color: #fed84c;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.52;
  text-align: center;
  color: #2e363e;
}
@media (max-width: 520px) {
  .confectioner__btn {
    padding: 20px;
    width: 100%;
    font-size: 16px;
  }
}

.card {
  position: relative;
}
.card__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20%;
  left: -16%;
}
@media (max-width: 1140px) {
  .card__info {
    left: -5%;
  }
}
@media (max-width: 520px) {
  .card__info {
    bottom: 10%;
    left: 0;
  }
}
.card__wrap {
  display: flex;
}
.card__name {
  background-color: #2e363e;
  padding: 12px 0;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ffffff;
}
.card__profession {
  background-color: #f2f6fa;
  padding: 12px 0;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #2e363e;
}

.reviews {
  position: relative;
  padding: 265px 0 308px;
  background-color: #081130;
  background-image: url("../img/bg-reviews_top.png"), url("../img/bg-reviews_bottom.png");
  background-repeat: no-repeat;
  background-size: contain, contain;
  background-position: top, bottom;
}
@media (max-width: 940px) {
  .reviews {
    padding: 250px 0 250px;
  }
}
@media (max-width: 520px) {
  .reviews {
    padding: 150px 0 150px;
  }
}
.reviews__list {
  margin-bottom: 70px;
}
.reviews__title {
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 940px) {
  .reviews__title {
    font-size: 42px;
    margin-bottom: 50px;
  }
}
@media (max-width: 520px) {
  .reviews__title {
    font-size: 28px;
  }
}
.reviews__control {
  text-align: center;
}
.reviews__btn {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #fed84c;
}
.reviews__btn--left {
  margin-right: 17px;
  padding-left: 22px;
}
.reviews__btn--right {
  padding-left: 27px;
}

.swiper-slide {
  box-sizing: border-box !important;
}

.swiper-backface-hidden .swiper-slide.swiper-slide-prev,
.swiper-backface-hidden .swiper-slide.swiper-slide-next {
  opacity: 0.1;
  transform: scale(0.79);
}

.review {
  display: flex;
  justify-content: space-between;
  gap: 54px;
  width: -moz-max-content;
  width: max-content;
  background-color: #ffffff;
  background-image: url("../img/icons/quote.svg");
  background-repeat: no-repeat;
  background-position: top 70px left 143px;
  box-shadow: 2px 8px 16px 0 rgba(194, 198, 208, 0.06);
  border: 2px solid #e2eaf2;
  border-radius: 5px;
  padding: 70px 143px 73px;
}
@media (max-width: 1750px) {
  .review {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1140px) {
  .review {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1140px) {
  .review {
    padding: 28px 48px;
    background-position: top 44px left 50px;
  }
}
@media (max-width: 520px) {
  .review {
    padding: 10px 15px;
    background-position: top 29px left 15px;
  }
}
.review__quote {
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 1750px) {
  .review__quote {
    width: 100%;
  }
}
.review__title {
  margin-bottom: 24px;
  padding-top: 60px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.43;
  letter-spacing: 0.01em;
  color: #2e363e;
}
@media (max-width: 520px) {
  .review__title {
    font-size: 22px;
  }
}
.review__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #2e363e;
}
@media (max-width: 520px) {
  .review__text {
    font-size: 14px;
  }
}
.review__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #4a94ff;
}
.review__author {
  min-width: 380px;
}
@media (max-width: 1140px) {
  .review__author {
    min-width: 250px;
    height: auto;
  }
}
.review__img {
  margin-bottom: 26px;
  background-color: #f2f6fa;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  border: 1px solid #f2f6fa;
}
@media (max-width: 1140px) {
  .review__img {
    width: 250px;
    height: 250px;
  }
}
.review__name {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.43;
  text-align: center;
  color: #2e363e;
}
.review__city {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  color: #a6aeb6;
}

.gallery {
  background-color: #ffffff;
  max-width: 1920px;
  align-items: center;
}
.gallery__title {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2e363e;
}
@media (max-width: 1140px) {
  .gallery__title {
    font-size: 42px;
  }
}
@media (max-width: 940px) {
  .gallery__title {
    font-size: 30px;
  }
}
@media (max-width: 520px) {
  .gallery__title {
    font-size: 24px;
  }
}
.gallery__text {
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.43;
  text-align: center;
  color: #2e363e;
}
@media (max-width: 1140px) {
  .gallery__text {
    font-size: 20px;
    margin-bottom: 60px;
  }
}
@media (max-width: 940px) {
  .gallery__text {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
@media (max-width: 520px) {
  .gallery__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 9px;
}
@media (max-width: 520px) {
  .gallery__list {
    grid-template-columns: 1fr;
  }
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedback {
  padding: 306px 0 40px;
  position: relative;
  background-color: #081130;
  background-image: url("../img/bg-feedback_top.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.form {
  padding: 70px 150px;
  border-radius: 8px;
  background-color: #ffffff;
}
@media (max-width: 1140px) {
  .form {
    padding: 40px 70px;
  }
}
@media (max-width: 940px) {
  .form {
    padding: 30px;
  }
}
@media (max-width: 520px) {
  .form {
    padding: 20px 15px;
  }
}
.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-align: center;
  color: #2e363e;
}
@media (max-width: 1140px) {
  .form__title {
    font-size: 30px;
  }
}
@media (max-width: 940px) {
  .form__title {
    font-size: 26px;
  }
}
@media (max-width: 520px) {
  .form__title {
    font-size: 22px;
  }
}
.form__text {
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2e363e;
}
@media (max-width: 1140px) {
  .form__text {
    font-size: 20px;
  }
}
@media (max-width: 940px) {
  .form__text {
    font-size: 18px;
  }
}
@media (max-width: 520px) {
  .form__text {
    font-size: 14px;
  }
}
.form__field {
  max-width: 780px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 380px 1fr;
  gap: 24px 20px;
}
@media (max-width: 940px) {
  .form__field {
    grid-template-columns: 1fr;
  }
}
.form__textarea {
  grid-column: span 2;
  resize: none;
  overflow: hidden;
  justify-content: center;
  max-height: -moz-max-content;
  max-height: max-content;
  background-image: url("../img/icons/form-question.svg");
}
.form__input {
  background-image: url("../img/icons/form-phone.svg");
}
@media (max-width: 940px) {
  .form__input {
    grid-column: 1/3;
    width: 100%;
  }
}
.form__textarea, .form__input {
  padding: 32px 58px 29px;
  background-color: #f2f6fa;
  background-repeat: no-repeat;
  background-position: top 30px left 26px;
  background-size: 25px;
  border: 0;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.52;
  color: #2e363e;
  transition: background-color 0.3s ease-in-out;
}
.form__textarea::-moz-placeholder, .form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #7e868e;
}
.form__textarea::placeholder, .form__input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #7e868e;
}
.form__textarea:hover, .form__textarea:focus-visible, .form__input:hover, .form__input:focus-visible {
  background-color: #e5edf5;
}
.form__input-file {
  position: relative;
  display: inline-block;
  grid-column: span 2;
  cursor: pointer;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 8px;
  padding: 29px 41px;
  background-color: #fed84c;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.52;
  text-align: center;
  color: #2e363e;
}
@media (max-width: 520px) {
  .form__input-file {
    padding: 20px 30px;
    font-size: 16px;
  }
}
.form__input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.form__input-file:hover, .form__input-file:focus-visible {
  filter: contrast(130%);
}
.form__input-file:active {
  transform: scale(0.9);
}
.form__btn {
  border-radius: 8px;
  padding: 29px 41px;
  background-color: #fed84c;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.52;
  text-align: center;
  color: #2e363e;
}
@media (max-width: 940px) {
  .form__btn {
    grid-column: 1/3;
    width: -moz-max-content;
    width: max-content;
    justify-self: center;
  }
}
@media (max-width: 520px) {
  .form__btn {
    padding: 20px 30px;
    font-size: 16px;
    width: 100%;
  }
}
.form__checkbox-label {
  grid-column: 1/3;
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.3;
  color: #7e868e;
}
.form__checkbox-link {
  text-decoration: underline;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.3;
  color: #7e868e;
}

.footer {
  padding: 40px 0 80px;
  background-color: #081130;
}
.footer__list {
  display: flex;
  gap: 15px 43px;
  justify-content: center;
  margin-bottom: 22px;
}
@media (max-width: 940px) {
  .footer__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer__item, .footer__copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #7e868e;
}
